<div class="row" id="body-row">
  <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
      <ul class="list-group">
          <!-- <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed"></li> -->
                <a  data-toggle="sidebar-colapse" class="main list-group-item list-group-item-action d-flex align-items-center">
              <div class="main w-100" style="text-align: center;">
                  <!-- <span id="collapse-icon" class="fa fa-2x mr-3"></span>
                  <span id="collapse-text" class="menu-collapsed">Collapse</span> -->
                  <span class="fa fa-user-secret fa-3x" aria-hidden="true"></span>
                  <h1 class="menu-collapsed" style="font-size: 1.5rem;">Hello, Admin</h1>
              </div>
          </a>
          <p class="menu-collapsed qd">Quick Dashboard</p>
          <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="ak list-group-item list-group-item-action flex-column align-items-start">
              <div class="bo d-flex w-100 justify-content-start align-items-center">
                  <span class="fa fa-plus-circle fa-2x fa-fw mr-3"></span>
                  <span class="menu-collapsed">Add Patient</span>
              </div>
          </a>
          <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="ak list-group-item list-group-item-action flex-column align-items-start">
            <div class="bo d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-users fa-2x fa-fw mr-3"></span>
                <span class="menu-collapsed">Add Facility</span>
            </div>
        </a>
        <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="ak list-group-item list-group-item-action flex-column align-items-start">
          <div class="bo d-flex w-300 justify-content-start align-items-center">
              <span class="fa fa-calendar-times-o fa-2x fa-fw mr-3"></span>
              <span class="menu-collapsed">Add Provider</span>
          </div>
      </a>
      <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="ak list-group-item list-group-item-action flex-column align-items-start">
        <div class="bo d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-university fa-2x fa-fw mr-3"></span>
            <span class="menu-collapsed">Add Insurance</span>
        </div>
    </a>
    <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="ak list-group-item list-group-item-action flex-column align-items-start">
      <div class="bo d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-medkit fa-2x fa-fw mr-3"></span>
          <span class="menu-collapsed">Expensive Medicines</span>
      </div>
  </a>
      </ul>
  </div>
  <span class="fa fa-bars fa-2x fa-fw mr-3 bt" data-toggle="sidebar-colapse"></span>
  <h1 class="db">Dashboard</h1>
</div>
<div class="box">
  <div class="container-fluid">
  <div class="row">
     <div class="col-md-1"></div>
     <div class="col-md-2">
   <img src="/assets/img/dash/dl1.png" class="ig igq style_prevu_kit">
   </div>
   <div class="col-md-2">
   <img src="/assets/img/dash/dl2.png"class="ig style_prevu_kit"></div>
   <div class="col-md-2">
   <img src="/assets/img/dash/dl3.png" class="ig style_prevu_kit"></div>
   <div class="col-md-2">
   <img src="/assets/img/dash/dl4.png" class="ig style_prevu_kit"></div>
   <div class="col-md-2">
   <img src="/assets/img/dash/dl5.png"  class="ig style_prevu_kit">
     </div>
     <div class="col-md-1"></div>
  </div>
  </div>
 </div>

