<div id="wrapper">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand" *ngIf="metaData">
      <!-- <i class="fa fa-user-secret fa-3x" aria-hidden="true"></i> -->
      <img src="/assets/img/login/logo.png" height="60px">
      <h2>Hello, {{fname|capitalize}}</h2>
      <b>{{role}}</b>
    </div>
    <ul class="sidebar-nav">
      <p class="qd">Quick Dashboard</p>
      <li>
        <a [routerLink]="['/dash']"><i class="fa fa-home"></i>Home</a>
      </li>
      <li>
        <a (click)="app()"><i class="fa fa-plus-circle"></i>Add Patient</a>
      </li>
      <li>
        <a (click)="af()"><i class="fa fa-users"></i>Add Facility</a>
      </li>
      <li>
        <a (click)="apr()"><i class="fa fa-calendar-times-o"></i>Add Provider</a>
      </li>
      <li>
        <a (click)="ai()"><i class="fa fa-university"></i>Add Insurance</a>
      </li>
      <li>
        <a (click)="ae()"><i class="fa fa-medkit"></i>Expensive Medicines</a>
      </li>
      <li>
        <a [routerLink]="['/reports']"><i class="fa fa-file-text-o"></i>Reports</a>
      </li>
      <li>
        <a [routerLink]="['/register']"><i class="fa fa-users"></i>Users</a>
      </li>
    </ul>
  </aside>

  <div id="navbar-wrapper">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="#" class="navbar-brand" id="sidebar-toggle">
            <!-- <i class="fa fa-bars" style="color: #87C442;"></i> -->
            <img src="/assets/img/bar.png" class="img-fluid" style="margin-left: -27px;transform: scale(1.45);">
          </a>
        </div>
        <div style="float: right; cursor: pointer;" (click)="logout()"><img src="/assets/img/dash/logout.png"
            height="50px" class="logout"></div>
      </div>
    </nav>
  </div>

  <section id="content-wrapper" style=" padding-left: 0rem;">
    <!-- header of the page   -->
    <div class="row">
      <div class="col-lg-12">
        <img src="/assets/img/shared/patientlogo.png" class="img-fluid ptl">
        <h2 class="content-title">Patient</h2>
        <button type="button" class="btn btn-outline-custom btn-lg iambtn" data-toggle="modal"
          data-target="#myModal">Add Patient</button>
      </div>
      <div class="box"></div>
    </div>
    <div class="row mt-4">
      <div class="col-md-2"></div>
      <div class="col-md-8" *ngIf="metaData">
        <!-- Search Bar -->
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search by name" style="border:2px solid #87C442;"
                [(ngModel)]="searchString">
              <div class="input-group-append">
                <button class="btn btn-custom" type="submit" style="background-color: #87C442; color:white;">Go</button>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="input-group">
              <input type="date" class="form-control" max="{{kd}}" style="border:2px solid #87C442;" [(ngModel)]="searchDate">
              <div class="input-group-append">
                <button class="btn btn-custom" type="submit" style="background-color: #87C442; color:white;">Go</button>
              </div>
            </div>
          </div>
        </div>
        

        <!-- Patient 1 -->
        <div class="row" *ngFor="let i of patients|filterdate:searchString:searchDate;let m=index">
          <div class="col-md-1 counting">{{m+1}}</div>
          <div class="col-md-11">
            <div class="details">
              <div class="row">
                <div class="col-md-4 name">{{i.name}}</div>
                <div class="col-md-4 name">{{i.dob|date}}</div>
                <div class="col-md-4 edit" [routerLink]="['/cpat']" ><i class="fa fa-pencil" aria-hidden="true"
                   style="color: #87c442;" (click)="service.useriden(i._id)"
                  tooltip="Update Patient record" placement="right"></i>
              </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </section>
  <!-- <img src="/assets/img/login/logo.png" height="200px" style="position: fixed; right: 0; bottom: 0; padding: 50px;"> -->
</div>







<!-- Add PAtient Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content mc1">
      <p style="text-align: end; margin-top:20px; cursor: pointer;" data-dismiss="modal"><i class="fa fa-times"
          aria-hidden="true"></i></p>
      <div class="modal-body">
        <h4 class="ap">Add Patient</h4>
        <form (submit)="submit(form)" #form="ngForm">
          <hr>
          <input type="hidden" name="flag" #flag="ngModel" [(ngModel)]="combined.flag">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                  <span>Name</span>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control ip" name="name" required #name="ngModel" [(ngModel)]="combined.name">
                  <div *ngIf="name.invalid && (name.dirty || name.touched)"    class="alert alert-danger mt-1 ">
                    <div *ngIf="name.errors.required">Name is required.</div>
                </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                  <span>Date Of Birth</span>
                </div>
                <div class="col-md-8">
                  <input type="date" class="form-control ip" required max="{{kd}}" name="dob" #dob="ngModel" [(ngModel)]="combined.dob">
                  <div *ngIf="dob.invalid && (dob.dirty || dob.touched)"    class="alert alert-danger mt-1">
                    <div *ngIf="dob.errors.required">DOB is required.</div>
                </div>
                </div>
                <div class="col-md-1">
                  <i class="fa fa-calendar fa-2x ic" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="das" style="text-align: center;">
            <button type="submit" class="btn btn-custom bo" [disabled]="form.invalid">Add</button>
            <button type="button" class="btn btn-custom bo" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


