$green: #87c442;
.container-fluid{
    height: 100vh;
    background-color: rgba(135, 196, 66,0.5);
}
.bb{
    background-color: $green;
    padding: 50px;
    margin-top: 30vh;
    text-align: center;
}
.bb h3{
    text-align: center;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
}
.bb h5{
    text-align: center;
    color: white;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
}
.btn:hover{
    color: $green;
    font-weight: 800;
}