<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 bb" *ngIf="toggle == 1;">
          <img src="/assets/img/login/logo.png" height="60px">
          <h3>Enter Email Id Registered With Your Account</h3>
            <form (submit)="submit(form)" #form="ngForm">
                <input class="form-control" type="text" placeholder="Email" name="email" id="name"
                 #email="ngModel" [(ngModel)]="user.email" required>
                <button type="submit" class="btn btn-outline-light btn-block mt-2">
                  Send Mail
                </button>
              </form>
        </div>
        <div class="col-md-6 bb" *ngIf="toggle == 2;">
          <img src="/assets/img/login/logo.png" height="60px">
          <h3>Enter OTP Send On Your Email Id</h3>
            <form (submit)="submitt(formm)" #formm="ngForm">
                <input class="form-control" type="text" placeholder="OTP" name="oo" id="oo"
                 #oo="ngModel" [(ngModel)]="userr.oo" required>
                 <input class="form-control" type="text" name="em" id="em"
                 #em="ngModel" [(ngModel)]="userr.em" [value]="an" hidden>
                 <button type="submit" class="btn btn-outline-light btn-block mt-2">
                  Submit
                </button>
              </form>
              <h5 (click)="move()">Didn't Get OTP Click Here !</h5>
        </div>
        <div class="col-md-6 bb" *ngIf="toggle == 3;">
          <img src="/assets/img/login/logo.png" height="60px">
          <h3>Enter New Password</h3>
          <form (submit)="submittt(formmm)" #formmm="ngForm">
              <input class="form-control" type="text" placeholder="New Password" name="pw1" id="pw1"
               #pw1="ngModel" [(ngModel)]="userrr.pw1" required>
               <input class="form-control" type="text" name="em" id="em"
                 #em="ngModel" [(ngModel)]="userrr.em" [value]="an" hidden>
               <button type="submit" class="btn btn-outline-light btn-block mt-2">
                Submit
              </button>
            </form>
      </div>
    </div>
</div>