<div class="conatiner">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" *ngIf="toggle == true;">
            <form (submit)="submit(form)" #form="ngForm">
                <input class="form-control" type="text" placeholder="Email" name="email" id="name"
                 #email="ngModel" [(ngModel)]="user.email" required>
                <button type="submit" class="btn btn-custom btn-lg btn-block">
                  Send Mail
                </button>
              </form>
        </div>
        <div class="col-md-6" *ngIf="toggle == false;">
            <form (submit)="submitt(formm)" #formm="ngForm">
                <input class="form-control" type="text" placeholder="OTP" name="oo" id="oo"
                 #oo="ngModel" [(ngModel)]="userr.oo" required>
                 <button type="submit" class="btn btn-custom btn-lg btn-block">
                  Submit
                </button>
              </form>
        </div>
    </div>
</div>